
<mat-toolbar  class="slim-navbar">
  <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>QUIZMANIA</span>
  <span class="example-spacer"></span>
  <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-icon-button
    class="example-icon favorite-icon stylish-button text-smaller" aria-label="Example icon-button with heart icon">
    Login
  </a>
  <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-icon-button
    class="example-icon favorite-icon mr40 ml40 text-smaller" aria-label="Example icon-button with heart icon">
    Register
  </a>
  <a *ngIf="isLoggedIn && user" routerLink="/admin/profile" mat-icon-button class="example-icon favorite-icon text-smaller"
    aria-label="User Profile" [style.marginRight.px]="user.username.length * 7"> <!-- Adjust the multiplier as needed -->
    {{ user.username }}
  </a>
  <a (click)="logout()" *ngIf="isLoggedIn" mat-icon-button class="logout-icon text-smaller"
    aria-label="Logout">
    Logout
  </a>
</mat-toolbar>

