.example-spacer {
  flex: 1 1 auto;
}

.user-info {
  display: flex;
  align-items: center;
  /* Vertically center the elements */
}

.user-info a {
  margin-right: 10px;
  /* Adjust the margin as needed */
}

/* your-component.component.css */
/* your-component.component.css */
/* your-component.component.css */
.text-smaller {
  font-size: 14px; /* Adjust the font size as needed */
  white-space: nowrap; /* Prevent text from breaking into multiple lines */
}

.card{
  position: fixed;
}
/* Custom CSS to make the mat-toolbar slimmer */
.slim-navbar {
  height: 45px; /* Adjust the height to your desired slimmer height */
  padding: 5px 25px; /* Adjust the padding to control the content spacing */
  background-color: #413039; /* Change this to your desired background color */
  color: #ffffff; 
}

.slim-navbar a {
  color: #ffffff; /* Change link color */
  text-decoration: none; /* Remove underlines from links */
}

.slim-navbar a:hover {
  text-decoration: underline; /* Add underline on hover for links */
}



