
<div class="bootstrap-wrapper ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="mat-card">
                    <div class="container text-center">
                        <img src="../../../assets/key (1).png" alt="">
                    </div>
                    <div class="card">
                    <h1 class="text-center">Login here</h1>
                    <h6 class="text-center">please verify your credentials!!</h6>
                    <!-- {{loginData | json}} -->
                    
                    <form (ngSubmit)= "formSubmit()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input 
                            [(ngModel)]="loginData.username"
                            name="username" required matInput placeholder="Ex. pk24">
                            <!-- <mat-hint>Enter Valid Username</mat-hint> -->
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <input 
                                [(ngModel)]="loginData.password"
                                name="password"
                                required
                                matInput [type]="hide ? 'password' : 'text'">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <div class="container text-center">
                            <button class="mb5 login-button" type="submit" >Login</button>
                            <button class=" reset-button" >Reset</button>
                        </div>
                    </form>
                </div>
            </mat-card>
            </div>
        </div>
    </div>
</div>
