<mat-card class="mat-card mt5">
    <mat-list>
        <div mat-subheader>All Categories</div>
        <ng-container *ngFor="let c of categories; let last = last">
            <mat-list-item>
                <div class="menu-item">
                    <mat-icon mat-list-icon>category</mat-icon>
                    <div class="menu-text">
                        <!-- Place the buttons here to the right of the title -->
                        <div>
                            {{ c.title }}
                            <!-- Update button -->
                            <button [routerLink]="'/admin/categories/' + c.cid" class="update-button ml20" >Update</button>
                            <!-- Delete button -->
                            <!-- <button  class="delete-button ml5" (click)="deleteCategory(c.cid)">Delete</button> -->
                        </div>
                        <mat-card-subtitle>{{c.description}}</mat-card-subtitle>
                    </div>
                </div>
            </mat-list-item>
            <!-- Add mat-divider unless it's the last item -->
            <mat-divider *ngIf="!last" class="custom-divider"></mat-divider>
        </ng-container>
    </mat-list>
    <div class="container text-center mb5 mt20">
        <button routerLink="/admin/add-category" class="categories-button">Add New Category</button>
    </div>
</mat-card>
