<div class="bootstrap-wrapper">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="mat-card mt5">
        <div mat-subheader class="custom-bold mr20 mat-card-title">Questions of {{ qTitle }}</div>
        <div class="mb10">
          <button class="add-button" [routerLink]="'/admin/add-question/' + qId + '/' + qTitle">Add Question</button>
        </div>
      </mat-card>
      <mat-card *ngFor="let q of questions; let i = index" class="mt5 mat-card">
        <mat-card-content>
          <p>
            <b> Q {{ i + 1 }})</b>
            <span class="ml20" [innerHTML]="q.content"></span>
          </p>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <p><b>1)</b> {{ q.option1 }}</p>
              </div>
              <div class="col-md-6">
                <p><b>2)</b> {{ q.option2 }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p><b>3)</b> {{ q.option3 }}</p>
              </div>
              <div class="col-md-6">
                <p><b>4)</b> {{ q.option4 }}</p>
              </div>
            </div>
            <mat-divider></mat-divider>
            <p class="mt20"><b>Correct Answer:</b> {{ q.answer }}</p>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button class="delete-button" (click)="deleteQuestion(q.quesId)">
            Delete
          </button>
          <button class="update-button ml5" [routerLink]="'/admin/question/'+q.quesId">Update</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>