<div class="bootstrap-wrapper mt20">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card class="registration-form">
          <div class="container text-center">
            <img src="../../../assets/online.png" alt="">
          </div>
          <h1 class="text-center">Register here!</h1>

          <!-- {{user | json}} -->
          <form (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="registration-form__field" appearance="outline">
                  <mat-label class="registration-form__label">Username</mat-label>
                  <input  [(ngModel)]="user.username" name="username" required matInput placeholder="Ex. pk24">
                  <mat-hint>Username must be Unique</mat-hint>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="registration-form__field" appearance="outline">
                  <mat-label class="registration-form__label">Enter your password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" name="password" required>
                  <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="registration-form__field" appearance="outline">
                  <mat-label class="registration-form__label">First Name</mat-label>
                  <input [(ngModel)]="user.firstName" name="firstName" required matInput placeholder="Prashant">
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="registration-form__field" appearance="outline">
                  <mat-label class="registration-form__label">Last Name</mat-label>
                  <input [(ngModel)]="user.lastname" name="lastname" required matInput placeholder="Rana">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="registration-form__field" appearance="outline">
                  <mat-label class="registration-form__label">Email</mat-label>
                  <input [(ngModel)]="user.email" name="email" required type="email" matInput placeholder="Ex. abc@gmail.com">
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="registration-form__field" appearance="outline">
                  <mat-label class="registration-form__label">Contact No.</mat-label>
                  <input [(ngModel)]="user.phone" name="phone" required type="number" matInput placeholder="Ex. 8378272123">
                </mat-form-field>
              </div>
            </div>

            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">Register</button>
              <button style="margin-left: 10px;" mat-raised-button color="accent" (click)="resetForm()">Clear Response</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
