/* You can add global styles to this file, and also import other style files */

html, 
/* Gradient Background for "deep-purple-amber" Theme */
/* Gradient Background for "deep-purple-amber" Theme */
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: Arial, sans-serif; /* Specify a font */
    height: 100%; /* Ensure the body takes the full viewport height */
    background-image: url('/assets/Background.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire viewport with the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-attachment: fixed; /* Fix the background image in place */
    overflow-y: auto; /* Add vertical scrolling */
}

/*body::-webkit-scrollbar {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: transparent; 
}*/

  
  
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-center
{
    text-align: center;
}
.ml20
{
    margin-left: 20px !important;
}
.mr20
{
    margin-right: 20px !important;
}
.mt20
{
    margin-top: 20px !important;
}
.mb20
{
    margin-bottom: 20px !important;
}
.ml10
{
    margin-left: 20px !important;
}
.mr10
{
    margin-right: 20px !important;
}
.mt10
{
    margin-top: 20px !important;
}
.mb10
{
    margin-bottom: 20px !important;
}
.mr40
{
    margin-right: 40px !important;
}
.ml40
{
    margin-left: 40px !important;
}
.mb5
{
    margin-bottom: 5px !important;
}
.mr70
{
  margin-right: 70px !important;
}
.mt5
{
    margin-top: 5px !important;
}
.w100
{
    width: 100%;
}
.ml8
{
    margin-left: 8px;
}
.ml5
{
    margin-left: 5px;
}