<mat-card class="mat-card mt5">
    <div mat-subheader class="text-center custom-bold">Add New Category</div>
    <!-- {{category | json}} -->
    <mat-card-content>
        <form (ngSubmit)="submit()">

            <div class="bootstrap-wrapper">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input autofocus type="text" name="title" required matInput placeholder="Enter here"
                            [(ngModel)]="category.title"
                            >
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea name="description" matInput placeholder="Enter Category Description" rows="10"
                            [(ngModel)]="category.description"
                            >
                            </textarea>
                        </mat-form-field>
                        <div class="container text-center mb5  ">
                            <button class="add-button cu">ADD</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>