.example-header-image {
    background-image: url('../../../../assets/brain.png');
    background-size: cover;
}

/* Add this CSS to your component's CSS file or styles.scss */
.custom-divider {
    margin: 8px 16px;
    /* Adjust the margin as needed to control the spacing */
}

/* styles.css (or your component's CSS file) */
/* styles.css (or your component's CSS file) */
.quiz-card {
    background:rgba(255, 255, 255, 0.9);
    /* Set a background color for the cards */
    border-radius: 8px;
    /* Add border radius for a rounded appearance */
    padding: 0px;
    /* Adjust padding as needed */
    margin: 0px;
    /* Reduce the margin for minimal spacing between cards */
    cursor: pointer;
    /* Change cursor to pointer to indicate clickability */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
    transition: transform 0.2s, box-shadow 0.2s;
    /* Add smooth hover effect */
    margin-bottom: 10px;
}

.quiz-card:hover {
    transform: translateY(-2px);
    /* Move the card up slightly on hover for feedback */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Increase box shadow on hover */
}

.quiz-button {
    width: 8%;
    padding: 5px;
    background-color: #f3ce77;
    /* Primary color */
    color: #fff;
    /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for login button */
.quiz-button:hover {
    background-color: #7c7bbc;
    /* Darker shade of primary color on hover */
}


.attempt-button {
    width: 8%;
    padding: 5px;
    background-color: #f3ce77;
    /* Primary color */
    color: #fff;
    /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.attempt-button:hover {
    background-color: #7c7bbc;
    /* Darker shade of primary color on hover */
}

/* Add this CSS to your component's CSS file or styles.scss */
.mat-card-subtitle {
    display: flex;
    justify-content: space-between;
}

/* Add this CSS to your component's CSS file or styles.scss */
.subtitle-container {
    display: flex;
    /* Display its children in a horizontal line */
    justify-content: space-between;
    /* Space items evenly on the horizontal axis */
    align-items: center;
    /* Center items vertically */
}

.max-marks-button,
.total-questions-button {
    background-color: rgb(232, 93, 78);
    /* Adjust button background color */
    color: #ffffff;
    /* Adjust button text color */
    border: none;
    border-radius: 5px;
    padding: 5px;
    /* Adjust padding as needed */
    cursor: pointer;
    font-size: 10px;
}

.max-marks-button {
    margin-right: 5px;
    /* Add margin between buttons */
}

.total-questions-button {
    margin-left: 5px;
    /* Add margin between buttons */
}

.delete-button {
    width: 8%;
    padding: 5px;
    background-color: #e37077;
    /* Primary color */
    color: #fff;
    /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for login button */
.delete-button:hover {
    background-color: #d90000;
    /* Darker shade of primary color on hover */
}
/* Add this to your CSS */
/* Add this to your CSS */
.status-circle {
    width: 10px; /* Adjust the size of the circle as needed */
    height: 10px; /* Adjust the size of the circle as needed */
    border: 1px solid; /* Add a border with the desired width */
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 1px;
 /* Adjust the margin as needed */
  }
  
  .green-circle {
    background-color: green;
    border-color: rgb(0, 0, 0); /* Border color for green circle */
  }
  
  .red-circle {
    background-color: red;
    border-color: rgb(0, 0, 0); /* Border color for red circle */
  }
  