<mat-card class="mt5 mat-card">
    <mat-action-list class="mat-action-list">
      <div mat-subheader>Menu</div>
      <button mat-list-item class="menu-item" routerLink="/admin">
        <mat-icon mat-list-icon>home</mat-icon>
        <span class="menu-text">Home</span>
      </button>
      <button mat-list-item routerLink="/admin/profile" class="menu-item">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <span class="menu-text">Profile</span>
      </button>
      <button mat-list-item routerLink="/admin/categories" class="menu-item">
        <mat-icon mat-list-icon>view_cozy</mat-icon>
        <span class="menu-text">Categories</span>
      </button>
      <button mat-list-item routerLink="/admin/add-category" class="menu-item">
        <mat-icon mat-list-icon>add_box</mat-icon>
        <span class="menu-text">Add Categories</span>
      </button>
      <button mat-list-item routerLink="/admin/quizzes" class="menu-item">
        <mat-icon mat-list-icon>quiz</mat-icon>
        <span class="menu-text">Quizzes</span>
      </button>
      <button mat-list-item routerLink="/admin/add-quiz" class="menu-item">
        <mat-icon mat-list-icon>list_alt_add</mat-icon>
        <span class="menu-text">Add Quiz</span>
      </button>
      <button mat-list-item class="menu-item" (click)="logout()">
        <mat-icon mat-list-icon>logout</mat-icon>
        <span class="menu-text">Logout</span>
      </button>
    </mat-action-list>
  </mat-card>
  